<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto"
      rel="stylesheet"
    />
    <title>Upload de imagens</title>
  </head>
  <body>
    <div id="header">
      <h2 id="title">Projetos</h2>

      <label for="files" id="upload">Fazer upload</label>
      <button name="file" id="confirm">Confirmar</button>

      <input type="file" id="files" multiple draggable="true" />
    </div>

    <div id="container">
      <ul id="content"></ul>
    </div>
  </body>
</html>
