<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="css/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto"
      rel="stylesheet"
    />
    <title>Upload de imagens</title>
  </head>
  <body>
    <div id="header">
      <form
        action="/api/uploads/i2ai"
        enctype="multipart/form-data"
        method="post"
        id="form"
      >
        <h2 id="title">Projetos</h2>
        <h5 id="current"></h5>
        <label for="files" id="upload">Fazer upload</label>
        <input type="file" id="files" name="file" multiple draggable="true" />
        <button type="submit" name="file" id="confirm">Confirmar</button>
      </form>
    </div>

    <div id="project">
      <input id="project-name" type="text" />
      <button id="new-project">Novo projeto</button>
    </div>

    <div id="container">
      <ul id="content"></ul>
    </div>
  </body>
</html>
